<!--
 Main launch file for launching MoveIt! ROS nodes for the Jaco arm.
 Provides a few convenience arguments which can be used from different
 robots with the Jaco arm on it.
-->
<launch>
    # Specify the joint states topic for the robot. This is required
    # because MoveIt! reads from joint_states to update the internal robot
    # model (at least the one used in RViz, still have to investigate 
    # whether this is always required)
    <arg name="joint_states_topic"/>

    # If set to false, MoveIt! is launched without trajectory execution enabled.
    # Set this to true to load the fake execution if you are not loading other
    # MoveIt! controllers in order to suppress MoveIt! errors about this. 
    <arg name="load_fake_execution" default="false"/>   
 
    # the path to the robot's moveit configuration package (e.g. generated
    # by moveit setup assistant)
    <arg name="moveit_package_path"/>

    # set to true if the robot has a virtual joint and this should be
    # considered in the controllers. If set to true, specify the
    # other arguments related to the virtual joint as well! 
    <arg name="has_virtual_joint" default="false"/>
    
    # if set to true AND $(arg has_virtual_joint) is true,
    # a static_transform_publisher will be loaded
    # which continuously publishes a tf transform from
    # $(arg virtual_joint_parent) to $(arg virtual_joint_child)
    # at frequence $(arg virtual_joint_pubfreq).
    <arg name="publish_virtual_joint_frame" default="true"/>
    <arg name="virtual_joint_parent" default="no-parent-specified"/>
    <arg name="virtual_joint_child" default="no-child-specified"/>
    <arg name="virtual_joint_pubfreq" default="100"/>

    # set to true if robot_description is to be loaded from URDF.  
    # No need to load robot)description by default, as it should
    # have been loaded externally.
    <arg name="load_robot" default="false"/>

    # MoveIt! is reading the current joint state topic from /joint_states,
    # but this may have to be re-mapped
    # CAREFUL: This will remove the /joint_states topic. If another
    # node needs this, we'll have to put this remap into the "node"
    # tag of "$(arg moveit_package_path)/launch/move_group.launch.
    # But this is an automatically generated file so for now I'm
    # trying to preserve it...
    <remap to="$(arg joint_states_topic)" from="/joint_states"/>


    ###############################################
    # launch the planner
    ###############################################

    <group if="$(arg has_virtual_joint)">
      <!-- If needed, broadcast static tf for robot root -->
      <node if="$(arg publish_virtual_joint_frame)" pkg="tf" type="static_transform_publisher" 
            name="virtual_joint_broadcaster_0" 
            args="0 0 0 0 0 0  $(arg virtual_joint_parent) $(arg virtual_joint_child) $(arg virtual_joint_pubfreq)" />
    </group>


    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(arg moveit_package_path)/launch/planning_context.launch">
        # no need to load robot description by default, as it should have been loaded externally
        <arg name="load_robot_description" value="$(arg load_robot)"/>
    </include>

    <!-- Start the main MoveIt node -->
    <include file="$(arg moveit_package_path)/launch/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true"/>  
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="$(arg load_fake_execution)"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
    </include>

</launch>
