<launch>

    <arg name="config_file" default="$(find jaco_gazebo)/config/JacoControl.yaml"/>

    <arg name="jaco_prefix_name" default="jaco"/>
    <arg name="load_position_controllers" default="true"/>
    <arg name="load_velocity_controllers" default="false"/>
    <arg name="load_joint_state_controller" default="true"/>

    # if set to false, will only initialize parameter server
    <arg name="load_controllers" default="true"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(arg config_file)" command="load"/>

    <param name="gazebo/load_velocity_controllers" value="$(arg load_velocity_controllers)"/>

    # Load arm joint and gripper joint names
    # needed for local implementation
    <arg name="names_config_file" default="$(find jaco_joints)/config/JacoJoints.yaml"/>
    <include file="$(find jaco_joints)/launch/init_jaco_joints.launch">
        <arg name="names_config_file" default="$(arg names_config_file)"/>
    </include>

    <arg if="$(arg load_position_controllers)"
       name="position_controllers" value=
          "$(arg jaco_prefix_name)_arm_0_joint_position_controller 
          $(arg jaco_prefix_name)_arm_1_joint_position_controller 
          $(arg jaco_prefix_name)_arm_2_joint_position_controller 
          $(arg jaco_prefix_name)_arm_3_joint_position_controller
          $(arg jaco_prefix_name)_arm_4_joint_position_controller 
          $(arg jaco_prefix_name)_arm_5_joint_position_controller
          $(arg jaco_prefix_name)_finger_joint_0_position_controller
          $(arg jaco_prefix_name)_finger_joint_2_position_controller
          $(arg jaco_prefix_name)_finger_joint_4_position_controller"/>
    <arg unless="$(arg load_position_controllers)"
       name="position_controllers" value=""/>

    <arg if="$(arg load_velocity_controllers)"
       name="velocity_controllers" value=
          "$(arg jaco_prefix_name)_arm_0_joint_velocity_controller 
          $(arg jaco_prefix_name)_arm_1_joint_velocity_controller 
          $(arg jaco_prefix_name)_arm_2_joint_velocity_controller 
          $(arg jaco_prefix_name)_arm_3_joint_velocity_controller
          $(arg jaco_prefix_name)_arm_4_joint_velocity_controller 
          $(arg jaco_prefix_name)_arm_5_joint_velocity_controller
          $(arg jaco_prefix_name)_finger_joint_0_velocity_controller
          $(arg jaco_prefix_name)_finger_joint_2_velocity_controller
          $(arg jaco_prefix_name)_finger_joint_4_velocity_controller"/>
    <arg unless="$(arg load_velocity_controllers)"
       name="velocity_controllers" value=""/>

    <arg if="$(arg load_joint_state_controller)" name="joint_state_controller" value="joint_state_controller"/>
    <arg unless="$(arg load_joint_state_controller)" name="joint_state_controller" value=""/>

    <!-- load the controllers -->
    <node if="$(arg load_controllers)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/jaco" 
        args="$(arg position_controllers) $(arg velocity_controllers) $(arg joint_state_controller)"/>
</launch>
